<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anaplb.appAlpha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".primeiraActivity" />
        <activity android:name=".segundaActivity" />
        <activity android:name=".terceiraActivity" />
        <activity android:name=".quartaActivity" />
        <activity android:name=".quintaActivity" />
        <activity android:name=".finalActivity" />
        <activity android:name=".ajudaActivity" />
        <activity android:name=".escolhaActivity" />
        <activity android:name=".associar1Activity" />
        <activity android:name=".associar2Activity" />
        <activity android:name=".associar3Activity" />
        <activity android:name=".associar4Activity" />
        <activity android:name=".associar5Activity"></activity>
    </application>

</manifest>